body{
    background: lightblue;
}

#input-box{
    position: fixed;
    bottom: 1%;
    height: 20%;
    width: 95%;
    padding: 20px;
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}

#content-box{
    position: fixed;
    height: 18%;
    bottom: 2%;
    width: 95%;
    border: 1px solid #000;
}

.textarea{
    resize: none;
}

.info {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #4185a9;
    background-color: #d6e6f2;
    border-color: #a8d0eb;
}
