body{
    background: lightblue;
}

.col{
    float: left;
    padding: 5%;
    margin: 1%;
    height: 75%;
}
.left {
    width:50%;
    background-color: #E8F6F7;
}

.right {
    width:25%;
    background-color: #f2dede;
}

.info {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #4185a9;
    background-color: #d6e6f2;
    border-color: #a8d0eb;
}

#title-box{
    border: 1px solid #000;
}