body{
    background: lightblue;
}

textarea{
    resize: none;
}

.col{
    padding: 3%;
    margin: 1%;
    height: 450px;
}

.left {
    float: left;
    width:48%;
    background-color: #E8F6F7;
}

.right {
    float: right;
    width:35%;
    background-color: #f2dede;
}

#image-box{
    width: 420px;
    height: 200px;
    padding: 10px;
    /*background-image: url("../image/login_background.jpg");*/
}

#previewImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.info {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #4185a9;
    background-color: #d6e6f2;
    border-color: #a8d0eb;
}

#title-box{
    border: 1px solid #000;
}

